* {
    
    font-family:  Roboto, sans-serif;
}

.navbar-sticky{
    position: sticky;
    z-index: 999;
    top: 0;
}

.section-footer {
    background-color: #0057a8;
    height: 100%;
    color: #ffffff;
}

.brand{
    padding-left: 20px;
    max-width: 118px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Lucida Sans', sans-serif;
}
.image-container,dropdown{
    padding: 0 25px;
}
.image-container img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.icons{
    display: inline-block;
    width: 25px;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: #0057a8;
}
h3{
    display: inline-block;
    width: 150px;
}
@media(min-width:800px){
    #offcanvas{
        display: none;
    }
    .nav-item{
        padding-right: 20px;
    }
}
@media (max-width:800px){
    #nav{
        display: none;
    }
    #offcanvas{
        display: block;
    }
    .image-container{
        padding: 0 ;
        display: flex;
    }
    .image-container img {
        height: 65px;
        width: 65px;
        object-fit: cover;
        border-radius: 50%;
    }
    .side-text{
        padding: 0px 10px;
    }
    .side-text span{
        display: flex;
    }
    #message{
        font-size: 14px;
        color: #6a6f73;
    }
    .custom-toggler {
        border: none;
        color: black;
        border-radius: none;
        background-color: #f8f9fa;
    }
     .btn-close:focus {
        --bs-btn-close-focus-shadow:none;
    }
    .dropdown-item{
        padding: 10px 0;
    }
    .dropdown-item:hover{
        color: #0057a8;
    }
}
